:root {
    --gray: #888;
    --lightGray: #e0e0e0;
}



main{
    display: flex;
    gap: 50px;
    margin: 50px;
}



#calendarArea{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
}


#calendarTable{
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

#calendarTable th, 
#calendarTable td {
    width: 15%;
    height: 100px;
    max-height: 100px;
    border: 1px solid black;
    position: relative;
}

#calendarTable td {
    vertical-align: top;
    padding: 5px 10px;
    box-sizing: border-box;
}

#calendarTable td > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#calendarTable td.disabled {
    background-color: var(--lightGray);
    color: var(--gray);
}





#test{
    flex: 1;
    background-color: gray;
}